### 1. Purpose of this notebook

The purpose of this notebook is to explore the pilot campaign data.T

#### What's the question we want to answer with this notebook?

**Who are our customers or who are our principal customers that most responded to the pilot campaign?**

> Based on the answers we get, we can draw a gereal profile our customers:
-

### 2. Read data

#### 2.1 Import Python packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import numpy as np

import src.data_visualization as dv
import src.eda as eda
from src.paths import DATA

%matplotlib inline
plt.style.use('bmh')

%load_ext autoreload
%autoreload 2

In [36]:
dtypes = {'ID': str}

df = pd.read_csv(DATA / 'ml_project1_data_pre_processed.csv', dtype=dtypes)

#### 2.2 Sample data

In [37]:
df.sample(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Z_CostContact,Response,Z_Revenue_correct,Age,MntTotal,NumTotalPurchases,AcceptedTotalFirstFiveCmps,AcceptedTotalFirstFiveCmpsMorePilot,TotalYearAfterRegistration,TotalChildren
1184,9855,1952,PhD,Single,62000.0,0,1,2013-08-25,25,899,...,3,False,0,68,1000,25,1,1,7,1
241,9940,1958,Graduation,Together,64961.0,0,1,2012-12-23,97,382,...,3,False,0,62,971,14,0,0,8,1
2232,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,3,True,11,66,151,8,0,1,8,2
803,3483,1958,Graduation,Married,48192.0,0,0,2013-04-06,76,1039,...,3,True,11,62,1497,22,3,4,7,0
1833,9847,1955,2n Cycle,Married,62972.0,0,1,2012-08-03,39,313,...,3,False,0,65,395,14,0,0,8,1

In [38]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Response',
       'Z_Revenue_correct', 'Age', 'MntTotal', 'NumTotalPurchases',
       'AcceptedTotalFirstFiveCmps', 'AcceptedTotalFirstFiveCmpsMorePilot',
       'TotalYearAfterRegistration', 'TotalChildren'],
      dtype='object')

In [34]:
df_accepted_total_first_five_cmps = df.query('AcceptedTotalFirstFiveCmps > 0')
df_accepted_total_first_five_cmps.sample(10).T

,723,1733,1469,426,821,1955,1793,2119,675,916
ID,4692,10556,4070,1340,1,3009,8439,2088,4673,8362
Education,Graduation,Graduation,PhD,Graduation,Graduation,PhD,Graduation,Graduation,PhD,PhD
Marital_Status,Married,Married,Married,Married,Single,Widow,Together,Together,Married,Married
Income,7500,54984,94871,92910,57091,71670,63404,84906,81300,84169
Kidhome,1,0,0,0,0,0,0,0,0,0
Teenhome,0,1,2,0,0,0,2,0,1,0
Recency,19,51,99,42,0,8,97,98,17,9
MntWines,7,173,169,551,464,1462,734,997,1004,1478
MntFruits,0,13,24,137,5,16,26,15,12,19
MntMeatProducts,12,131,553,792,64,128,70,414,145,403
MntFishProducts,13,32,188,179,7,0,11,99,32,0
MntSweetProducts,7,3,0,103,0,0,44,30,12,19
MntGoldProds,32,6,144,33,37,160,17,76,36,0
NumDealsPurchases,5,4,1,1,1,1,2,1,3,1
NumWebPurchases,4,6,8,6,7,5,6,5,10,7
NumCatalogPurchases,1,1,5,7,3,3,3,6,3,6
NumStorePurchases,2,6,4,13,7,6,4,12,5,6
NumWebVisitsMonth,9,7,7,1,5,6,4,2,5,3
Complain,False,False,False,False,False,False,False,False,False,False
Age,44,61,51,34,59,58,56,48,57,38
MntTotal,39,352,934,1762,540,1606,885,1555,1205,1919
NumTotalPurchases,7,13,17,26,17,14,13,23,18,19
AcceptedTotalFirstFiveCmps,1,1,2,3,1,3,1,3,1,2
AcceptedTotalFirstFiveCmpsMorePilot,2,1,3,3,2,4,1,3,2,3
TotalYearAfterRegistration,8,6,8,6,6,7,6,7,8,7
TotalChildren,1,1,2,0,0,0,2,0,1,0

In [25]:
df_accepted_total_first_five_cmps['MntTotal'].describe()

count     463.000000
mean     1033.602592
std       652.495786
min         8.000000
25%       445.000000
50%      1080.000000
75%      1579.000000
max      2491.000000
Name: MntTotal, dtype: float64

In [20]:
df_not_accepted_total_first_five_cmps = df.query('AcceptedTotalFirstFiveCmps == 0')
df_not_accepted_total_first_five_cmps['MntTotal'].describe()

count    1770.000000
mean      440.457062
std       485.287562
min         6.000000
25%        47.000000
50%       222.500000
75%       777.000000
max      2262.000000
Name: MntTotal, dtype: float64

In [41]:
df_accepted_total_first_five_cmps

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumStorePurchases,NumWebVisitsMonth,Complain,Age,MntTotal,NumTotalPurchases,AcceptedTotalFirstFiveCmps,AcceptedTotalFirstFiveCmpsMorePilot,TotalYearAfterRegistration,TotalChildren
9,5899,PhD,Together,5648.0,1,1,68,28,0,6,...,0,20,False,70,36,1,1,1,6,2
15,2114,PhD,Single,82800.0,0,0,23,1006,22,115,...,12,3,False,74,1270,25,2,3,8,0
18,6565,Master,Married,76995.0,0,1,91,1012,80,498,...,9,5,False,71,1606,24,1,1,7,1
22,1993,PhD,Married,58607.0,0,1,63,867,0,86,...,9,8,False,71,953,14,1,1,8,1
29,1966,PhD,Married,84618.0,0,0,96,684,100,801,...,10,2,False,55,1672,25,1,1,7,0
32,5710,Graduation,Together,40548.0,0,1,31,110,0,5,...,4,5,False,50,117,7,1,1,8,1
39,2968,PhD,Divorced,48948.0,0,0,53,437,8,206,...,5,6,False,77,860,22,1,2,7,0
53,2225,Graduation,Divorced,82582.0,0,0,54,510,120,550,...,7,1,False,43,1376,20,2,3,6,0
55,6260,Master,Together,82384.0,0,0,55,984,51,432,...,13,1,False,65,1767,26,1,2,8,0
60,6853,Master,Single,75777.0,0,0,12,712,26,538,...,11,1,False,38,1358,20,2,3,7,0
67,9369,2n Cycle,Single,88194.0,0,1,19,688,14,309,...,10,5,False,41,1236,31,2,3,6,1
73,8132,PhD,Married,60631.0,1,1,88,565,6,65,...,8,7,False,45,642,19,1,1,7,2
77,7503,Graduation,Single,75825.0,0,0,40,1032,105,779,...,9,4,False,44,2158,22,1,2,8,0
79,1618,Graduation,Together,56046.0,0,0,9,577,0,64,...,8,8,False,55,641,19,1,2,7,0
86,273,Master,Married,36138.0,1,1,48,130,0,16,...,4,7,False,50,146,8,1,1,7,2
87,4452,Graduation,Single,50388.0,0,1,3,292,6,37,...,6,7,False,63,338,13,2,3,6,1
88,8504,Graduation,Married,79593.0,0,0,70,350,60,568,...,7,2,False,47,1221,18,1,1,6,0
96,7247,Graduation,Widow,47916.0,0,1,72,505,0,26,...,6,6,False,60,531,17,1,1,8,1
98,4646,2n Cycle,Married,78497.0,0,0,44,207,26,447,...,12,2,False,69,755,24,1,1,7,0
111,7431,PhD,Single,68126.0,0,0,40,1332,17,311,...,5,9,False,29,1734,16,1,2,8,0
112,3267,Master,Together,57288.0,0,1,27,527,0,21,...,8,6,False,57,548,17,1,1,6,1
113,999,Graduation,Single,86037.0,0,0,95,490,44,125,...,11,3,False,29,708,24,2,3,7,0
116,1592,Graduation,Married,90765.0,0,0,25,547,99,812,...,5,1,False,50,1691,15,2,2,6,0
124,7215,Graduation,Single,101970.0,0,0,69,722,27,102,...,13,2,False,37,967,27,3,4,7,0
135,1685,PhD,Together,62981.0,0,0,21,796,14,590,...,13,3,False,53,1482,22,1,1,7,0
138,7660,PhD,Alone,35860.0,1,1,37,15,0,8,...,2,5,False,47,29,4,1,2,6,2
151,7987,Graduation,Married,65747.0,0,1,96,346,17,48,...,6,6,False,51,447,15,1,1,6,1
155,10240,Graduation,Together,69372.0,0,0,10,997,26,269,...,6,4,False,71,1339,20,2,3,7,0
166,10573,Graduation,Divorced,62551.0,0,0,27,125,16,98,...,4,3,False,67,394,17,1,1,7,0
167,3712,Graduation,Divorced,52332.0,0,0,63,212,5,33,...,6,4,False,61,257,11,1,1,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,3919,Master,Single,72309.0,0,0,64,960,0,883,...,8,3,False,44,1931,19,1,2,7,0
2129,271,Graduation,Widow,40590.0,1,1,30,154,0,50,...,3,6,False,51,221,10,1,1,7,2
2137,5136,Graduation,Single,65333.0,0,1,58,654,7,92,...,8,6,False,47,768,21,2,2,6,1
2138,9790,Graduation,Single,78499.0,0,0,12,912,72,170,...,4,4,False,63,1237,18,1,2,7,0
2144,7233,Graduation,Married,69209.0,0,0,4,496,32,849,...,6,4,False,48,1654,14,1,1,8,0
2146,7699,Graduation,Widow,40590.0,1,1,30,154,0,50,...,3,6,False,51,221,10,1,1,7,2
2151,5186,PhD,Married,58482.0,0,1,59,576,7,115,...,9,6,False,65,724,20,1,1,6,1
2156,7313,2n Cycle,Widow,74859.0,0,0,63,570,73,614,...,11,3,False,71,1492,22,1,1,7,0
2160,3520,Master,Single,91172.0,0,0,94,162,28,818,...,7,3,False,30,1036,14,4,5,7,0
2161,10394,Graduation,Married,90000.0,0,0,91,675,144,133,...,5,1,False,36,1238,17,3,3,7,0
2163,9362,Graduation,Single,69263.0,0,1,14,492,5,32,...,7,6,False,55,547,17,1,1,6,1
2164,3968,2n Cycle,Divorced,65706.0,0,0,77,918,10,129,...,12,7,False,50,1070,26,3,4,7,0
2167,2829,Graduation,Married,65210.0,0,1,25,626,0,70,...,8,6,False,65,703,20,2,2,6,1
2168,1772,PhD,Married,79174.0,0,0,2,1074,37,518,...,7,2,False,45,1914,18,2,3,7,0
2171,4377,Graduation,Married,52914.0,0,1,32,254,10,44,...,3,7,False,49,348,13,1,1,7,1
2174,8858,PhD,Married,44325.0,0,1,69,516,0,21,...,7,8,False,48,537,17,1,1,7,1
2178,9723,Graduation,Married,67716.0,0,1,8,530,142,217,...,13,5,False,60,960,24,1,1,7,1
2179,2666,Master,Married,76234.0,0,1,21,519,50,167,...,11,3,False,48,866,22,1,1,6,1
2180,5721,PhD,Married,84117.0,0,0,60,611,76,749,...,6,2,False,64,1540,23,1,1,6,0
2186,8722,2n Cycle,Married,82347.0,0,0,38,556,54,845,...,10,3,False,63,1790,24,2,3,8,0
2187,7118,Graduation,Married,73803.0,0,1,61,833,80,363,...,6,6,False,63,1354,20,1,2,8,1
2190,10722,Graduation,Together,55593.0,0,1,63,293,8,124,...,3,6,False,47,440,15,1,1,7,1
2191,2632,Graduation,Married,50501.0,1,1,10,297,0,38,...,4,6,False,66,348,13,1,2,7,2
2200,4333,Graduation,Together,32144.0,1,1,76,41,0,10,...,3,7,False,66,51,6,1,1,6,2
2214,7366,Master,Single,75777.0,0,0,12,712,26,538,...,11,1,False,38,1358,20,2,3,7,0
2217,4286,PhD,Single,57642.0,0,1,24,580,6,58,...,6,4,False,50,652,19,1,1,6,1
2221,8720,2n Cycle,Together,NaN,0,0,53,32,2,1607,...,1,0,False,42,1657,1,1,1,8,0
2223,7004,Graduation,Single,11012.0,1,0,82,24,3,26,...,2,9,False,36,61,6,1,1,7,1
2229,4001,PhD,Together,64014.0,2,1,56,406,0,30,...,5,7,False,74,436,15,1,1,6,3
2230,7270,Graduation,Divorced,56981.0,0,0,91,908,48,217,...,13,6,False,39,1217,18,1,1,6,0

In [45]:
six_campaign = df.query('Response == 1')
not_six_campaign = df.query('Response == 0')

In [49]:
six_campaign['Recency'].value_counts(bins=10, sort=False)

(-0.1, 9.9]     70
(9.9, 19.8]     62
(19.8, 29.7]    34
(29.7, 39.6]    37
(39.6, 49.5]    26
(49.5, 59.4]    27
(59.4, 69.3]    24
(69.3, 79.2]    25
(79.2, 89.1]    16
(89.1, 99.0]    13
Name: Recency, dtype: int64

In [65]:
six_campaign['NumTotalPurchases'].value_counts(normalize=True).sort_index()

3     0.017964
4     0.041916
5     0.044910
6     0.056886
7     0.053892
8     0.026946
9     0.002994
10    0.011976
11    0.029940
12    0.032934
13    0.023952
14    0.053892
15    0.065868
16    0.053892
17    0.047904
18    0.077844
19    0.059880
20    0.041916
21    0.068862
22    0.056886
23    0.014970
24    0.032934
25    0.023952
26    0.014970
27    0.020958
28    0.008982
30    0.002994
31    0.002994
32    0.005988
Name: NumTotalPurchases, dtype: float64

In [66]:
not_six_campaign['NumTotalPurchases'].value_counts(normalize=True).sort_index()

1     0.002633
2     0.001053
3     0.064244
4     0.098999
5     0.086888
6     0.090574
7     0.057925
8     0.022117
9     0.023170
10    0.026330
11    0.035282
12    0.027909
13    0.035282
14    0.043181
15    0.032649
16    0.042127
17    0.038441
18    0.041074
19    0.034229
20    0.037388
21    0.033175
22    0.029489
23    0.031069
24    0.021590
25    0.016324
26    0.010005
27    0.008425
28    0.003686
29    0.003160
30    0.000527
31    0.000527
32    0.000527
Name: NumTotalPurchases, dtype: float64

In [69]:
six_campaign.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_Birth,334.0,1969.416168,12.398192,1943.0,1959.00,1971.0,1979.00,1996.0
Income,333.0,60209.675676,23194.080987,7500.0,39763.00,64090.0,80589.00,105471.0
Kidhome,334.0,0.341317,0.487347,0.0,0.00,0.0,1.00,2.0
Teenhome,334.0,0.305389,0.492741,0.0,0.00,0.0,1.00,2.0
Recency,334.0,35.383234,27.659499,0.0,11.00,30.0,56.00,99.0
MntWines,334.0,502.703593,427.183786,1.0,96.00,448.0,875.50,1492.0
MntFruits,334.0,38.203593,46.099519,0.0,4.00,21.0,53.75,193.0
MntMeatProducts,334.0,294.353293,286.890036,1.0,47.75,174.5,509.75,981.0
MntFishProducts,334.0,52.050898,61.855885,0.0,4.00,25.0,84.25,250.0
MntSweetProducts,334.0,38.634731,46.327903,0.0,3.00,20.0,57.00,198.0
MntGoldProds,334.0,61.446108,57.507501,0.0,20.00,39.5,84.75,245.0
NumDealsPurchases,334.0,2.335329,2.109924,0.0,1.00,1.0,3.00,11.0
NumWebPurchases,334.0,5.071856,2.558784,0.0,3.00,5.0,7.00,11.0
NumCatalogPurchases,334.0,4.203593,3.131817,0.0,1.00,4.0,6.00,11.0
NumStorePurchases,334.0,6.095808,3.081931,2.0,4.00,6.0,8.00,13.0
NumWebVisitsMonth,334.0,5.293413,2.569891,1.0,3.00,6.0,8.00,10.0
Z_CostContact,334.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
Z_Revenue_correct,334.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
Age,334.0,50.583832,12.398192,24.0,41.00,49.0,61.00,77.0
MntTotal,334.0,925.946108,698.429033,14.0,219.50,965.5,1517.00,2491.0
NumTotalPurchases,334.0,15.371257,6.827775,3.0,10.00,16.0,21.00,32.0
AcceptedTotalFirstFiveCmps,334.0,0.988024,1.120318,0.0,0.00,1.0,2.00,4.0
AcceptedTotalFirstFiveCmpsMorePilot,334.0,1.988024,1.120318,1.0,1.00,2.0,3.00,5.0
TotalYearAfterRegistration,334.0,7.251497,0.690724,6.0,7.00,7.0,8.00,8.0
TotalChildren,334.0,0.646707,0.739920,0.0,0.00,0.0,1.00,3.0

In [71]:
not_six_campaign.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_Birth,1899.0,1968.695629,11.910097,1893.0,1959.0,1970.0,1977.0,1996.0
Income,1876.0,50851.329957,24953.154987,2447.0,34482.5,50191.5,66305.5,666666.0
Kidhome,1899.0,0.462875,0.545183,0.0,0.0,0.0,1.0,2.0
Teenhome,1899.0,0.542917,0.545724,0.0,0.0,1.0,1.0,2.0
Recency,1899.0,51.494997,28.536545,0.0,27.0,52.0,77.0,99.0
MntWines,1899.0,270.051080,305.318119,0.0,22.0,154.0,445.0,1493.0
MntFruits,1899.0,24.293839,38.239182,0.0,1.0,7.0,29.0,199.0
MntMeatProducts,1899.0,145.117957,205.512166,0.0,14.0,56.0,194.0,1725.0
MntFishProducts,1899.0,35.102686,52.928810,0.0,2.0,11.0,43.5,259.0
MntSweetProducts,1899.0,25.119010,40.050121,0.0,1.0,7.0,30.0,263.0
MntGoldProds,1899.0,41.115324,50.611236,0.0,7.0,21.0,53.0,362.0
NumDealsPurchases,1899.0,2.308057,1.832384,0.0,1.0,2.0,3.0,15.0
NumWebPurchases,1899.0,3.926277,2.775180,0.0,2.0,3.0,6.0,27.0
NumCatalogPurchases,1899.0,2.400211,2.801460,0.0,0.0,1.0,4.0,28.0
NumStorePurchases,1899.0,5.757767,3.264957,0.0,3.0,5.0,8.0,13.0
NumWebVisitsMonth,1899.0,5.294892,2.316712,0.0,4.0,6.0,7.0,20.0
Z_CostContact,1899.0,3.000000,0.000000,3.0,3.0,3.0,3.0,3.0
Z_Revenue_correct,1899.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
Age,1899.0,51.304371,11.910097,24.0,43.0,50.0,61.0,127.0
MntTotal,1899.0,499.684571,527.621289,6.0,50.0,275.0,884.5,2429.0
NumTotalPurchases,1899.0,12.084255,7.133475,1.0,5.0,11.0,18.0,32.0
AcceptedTotalFirstFiveCmps,1899.0,0.177462,0.473311,0.0,0.0,0.0,0.0,4.0
AcceptedTotalFirstFiveCmpsMorePilot,1899.0,0.177462,0.473311,0.0,0.0,0.0,0.0,4.0
TotalYearAfterRegistration,1899.0,6.924171,0.671205,6.0,6.0,7.0,7.0,8.0
TotalChildren,1899.0,1.005793,0.740566,0.0,1.0,1.0,1.0,3.0